.footer {
    background-color: $color-dark;

    &__logo {
        max-width: 90px;

        @include media-breakpoint-down(md) {
            display: block;
            margin: 0 auto ($gutter * 2);
        }
    }

    &__subrow {
        margin-top: $gutter * 2;
        padding: $gutter * 2 0;
        border-top: 1px solid rgba($color-white, .5);
    }

    &__copyright {
        color: rgba($color-white, .5);

        @include media-breakpoint-down(md) {
            text-align: center;
            margin-bottom: $gutter;
        }
    }
}

.footer-menu {

    &__list {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        list-style-type: none;
        @include media-breakpoint-down(md) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__item {
        @include media-breakpoint-down(md) {
            margin: 0 $gutter;
        }
        a {
            color: $color-white;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
        }
    }

    &_sub {
        .footer-menu__list {
            justify-content: flex-end;

            @include media-breakpoint-down(md) {
                align-items: center;
                flex-direction: column;
            }

            .footer-menu__item {
                padding: 0 $gutter;
                line-height: 1;

                &:not(:last-child) {
                    @include media-breakpoint-up(lg) {
                        border-right: 2px solid $color-white;
                    }
                }

                &:nth-child(2n) {
                    border-right: 2px solid $color-white;
                    border-left: 2px solid $color-white;
                }
            }
        }
    }
}

.social-widget {
    display: flex;
    justify-content: flex-end;

    @include media-breakpoint-down(md) {
        justify-content: center;
        margin-top: ($gutter * 2);
    }

    &__item {
        color: $color-white;
        margin: 0 $gutter * 2;

        &:hover {
            color: red;
        }
    }
}