::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: $color-white;
}

body {
	font-size: 17px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;

	margin: auto;
	input, textarea {
		border: $color-black 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.container-fluid {
	max-width: 1300px;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

.title {
	font-family: $title-font;
	text-transform: uppercase;

	&_big {
		line-height: 1;
		font-size: 80px;
		margin-bottom: $gutter * 3;
	}

	&_medium {
		font-size: 36px;
	}

	&_small {
		font-size: 24px;
	}

	&__sub {
		line-height: 1;
		font-size: 24px;
	}
}

.text-content {
	font-size: 18px;
}

.content {
	height: 100vh;
}

.custom-slider {
	width: 100%;
	&__slide {
		position: absolute;
		width: 100%;
		transition: all .5s linear;
		
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 10px;
		}
	}

	&-wrapper {
		position: relative;
		display: flex;
		height: 100%;
		min-height: 70vh;
		width: 100%;
		max-width: 500px;
	}

	&-navigation {
		&__next {
			position: absolute;
			display: block;
			width: 37px;
			height: 20px;
			background: url(../img/scroll_down.svg) no-repeat center / contain;
			transform: rotate(-90deg) translate(0, -50%);
			top: 50%;
			right: 0;
			cursor: pointer;
			z-index: 999;
		}
	}

	&-pagination {
		position: absolute;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;
		bottom: 5%;
		z-index: 999;
		span {
			position: relative;
			display: block;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			border: 1px solid white;
			margin: 0 15px 0 15px;
			&.active {
				background-color: $color-white;
				&:before {
					content: '';
					display: block;
					position: absolute;
					height: 2px;
					width: 100%;
					right: -100%;
					top: 50%;
					background-color: $color-white;
					transform: translate(0, -50%);
				}
			}
		}
	}
}

.accordion {
	&__item {
		position: relative;
		padding-left: 30px;
		padding-bottom: $gutter * 2;

		&:before {
			content: '';
			position: absolute;
			top: 20px;
			left: 7px;
			width: 2px;
			height: 0;
			background-color: $color-white;
			transition: height .5s linear;
		}

		&.active {
			&:before {
				height: calc(100% - 13px);
			}
			.accordion__title {
				&:before {
					background-color: $color-white;
				}	
			}
		}
	}
	
	&__title {
		position: relative;
		color: $color-primary;
		@extend .title, .title_medium;
		margin-bottom: $gutter;
		line-height: 1;
		&:before {
			content: '';
			position: absolute;
			left: -30px;
			width: 16px;
			height: 16px;
			border: 2px solid $color-white;
			border-radius: 50%;
			top: calc(50% - 4px);
			transform: translate(0, -50%);
		}
		&:hover {
			cursor: pointer;
		}
	}

	&__content {
		font-size: 18px;
		display: none;
	}
}

.form {
	display: block;
	&__row {
		@extend .row;
	}
	&__col {
		position: relative;
		label {
			color: $color-primary;
			position: absolute;
			top: 50%;
			left: $gutter * 2;
			font-size: 14px;
			z-index: 1;
			transform: translate(0, -50%);
			cursor: auto;
			transition: top .5s linear;
		}
	}

	input:not([type="submit"]) {
		width: 100%;
		height: 100%;
		color: $color-primary;
		background-color:rgba(255, 255, 255, 0.08);
		border: 1px solid rgba(255, 255, 255, 0.08);
		border-radius: 5px;
		padding: $gutter $gutter 0;
		&:focus,
		&:not([value=""]) {
			& ~ label {
				top: 20%;
			}
		}
	}
}