.section {
    position: relative;
    min-height: 100vh;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        opacity: .9;
        left: 50%;
        margin: auto;
        transform: translate(-50%, 0);
    }

    &-about {
        display: flex;
        align-items: center;
        background: #000 url(../img/bg-about.jpg) no-repeat center / auto 100%;

        &:before {
            background: #0F0F0F radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%);
        }

        &__content {
           @extend .text-content; 
           padding-left: 30%;
        }

        &__subTitle {
            @extend .title, .title__sub;
            margin-top: $gutter * 5;
        }

        &__title {
            position: relative;
            @extend .title, .title_big;
            z-index: 10;
            &:before {
                content: '';
                position: absolute;
                width: 130%;
                left: 0;
                bottom: -$gutter / 2;
                height: 4px;
                background-color: #fff;
            }
        }
    }

    &-features {
        display: flex;
        align-items: center;
        background: #000 url(../img/bg-features.jpg) no-repeat center / auto 100%;
        &:before {
            background: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%);
        }
        &__subTitle {
            @extend .title, .title__sub;
        }

        &__title {
            @extend .title, .title_big;
        } 
    }
}